table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      background-color: #dddddd;
    }

td, th {
      border: 1px solid #ffffff;
      text-align: left;
      padding: 8px;
    
    }

#selector_table{
     border: 1px solid #ffffff;
     padding: 8px;
     text-align: center; 
}